.navigation {
  display: flex;
  width: 100%;
  align-items: center;
}

.navigation__arrow {
  display: flex;
  padding: 0 15px;
}

.navigation__items {
  flex: 1;
  overflow-x: auto;
  display: flex;
  align-items: center;
  font-size: 12px;
}