.app {
  display: flex;
  height: 100%;
  min-height: 680px;
  min-width: 375px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.header {
  background-color: #BA77FF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-group {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.menu,
.topic,
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu,
.avatar {
  padding-left: 10px;
  padding-right: 10px;
}

.topic {
  flex: 1;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation__item {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navigation__item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  text-decoration: none;
  color: white;
  background-color: #50D2C2;
  border-radius: 14px;
}

.subtopics {
  flex: 1;
  display: flex;
  padding: 20px;
  background-color: white;
}

.subtopic {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #8C88FF;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
}

.subtopic__title,
.subtopic__completeness,
.subtopic__complete-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtopic__title {
  font-size: 26px;
}

.subtopic__diagonal {
  height: 35px;
  background-color: white;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  /* Sometimes there is a gap rendering between diagonal and button white bg,
  so here make sure there is never a gap*/
  margin-bottom: -1px;
}

.subtopic__completeness--true img {
  background-color: #50D2C2;
  border-radius: 50px;
}

.subtopic__complete-button {
  background-color: white;
}

.subtopic__complete-button button {
  width: 160px;
  background-color: #50D2C2;
  line-height: 50px;
  border: 0;
  border-radius: 25px;
  color: white;
  font-size: 14px;
}

.tabs-bar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #6563A4;
}

.tabs-bar__item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
}

.tabs-bar__item--active {
  opacity: 1;
  border-bottom: 2px solid white;
}
